.hero {
    width: 100%;
    height: 545px;
    position: relative;

    .hero-background {
        position: absolute;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 545px;

        }


    }

    .hero-text {

        width: 70%;
        margin: 0 auto;
        margin-top: 200px;


        h2 {
            font-size: 51px;
            color: black;

        }

        button {
            background-color: rgb(246, 203, 24);
            padding: 6px 16px;
            border-radius: 5px;
            border: none;
            transition: ease-in-out 0.5s;

            &:hover {
                background-color: rgb(253, 240, 185);
            }
        }
    }


}