.user {
    width: 100%;
    height: 754px;
    padding: 50px 0;

    .user_background {
        position: absolute;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 754px;
        }
    }

    .user_text {
        width: 75%;
        margin: 0 auto;
        display: flex;

        .user_text__title {
            width: 50%;

            h4 {
                font-size: 43px;
                font-weight: 600;
            }

            p {}
        }

        .user_text__list {
            width: 50%;


            .user_text__list__content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;

                .list__box {
                    width: 100%;
                    margin-bottom: 20px;

                    .icon {
                        img {
                            width: 50px;
                            transition: all 0.5s;
                        }

                        &:hover img {
                            width: 60px;
                        }
                    }

                    h4 {
                        color: rgb(0, 147, 171);
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }


        }
    }
}